.logo__cursor{
    display: none;
}

.pagination__buttons{
    justify-content: space-between;
    padding-bottom: 15px;
}

img[src$='#center'] {
    display: block;
    margin: 1.0rem auto;
    max-width: 100%;
    height: auto;
}

p{
    text-align: justify;
}

.warning{
    color: rgb(128,0,0);
}

.dark-theme .warning{
    color: #16BAC5;
}