.logo__cursor{
    display: none;
}

.pagination__buttons{
    justify-content: space-between;
    padding-bottom: 15px;
}

img[src$='#center'] {
    display: block;
    margin: 1.0rem auto;
    max-width: 100%;
    height: auto;
}

p{
    text-align: justify;
}

.warning{
    color: rgb(128,0,0);
    display: flex;
    align-items: center;
}

.warning .icon{
    padding: 0 20px 0px 10px;
}

.warning .icon path{
    fill: rgb(128,0,0);
}

.dark-theme .warning .icon path{
    fill: #16BAC5;
}

.dark-theme .warning{
    color: #16BAC5;
}

.js-example {
    background: #212020!important;
    color: white;
    border-radius: 8px;
    padding: 5px;
}